.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
  }
  
  .form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
  }
  
  .select-control {
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 38px;
    font-size: 1rem;
    color: #333;
  }
  
  .select-control--is-focused {
    border-color: #007bff;
    box-shadow: 0 0 0 1px #007bff;
  }
  
//   .select__control {
//     border: 1px solid #ddd;
//     border-radius: 4px;
//     min-height: 38px;
//   }
  
//   .select__control--is-focused {
//     border-color: #007bff;
//     box-shadow: 0 0 0 1px #007bff;
//   }
  
//   .select__indicator-separator {
//     display: none;
//   }
  
//   .select__indicator {
//     color: #007bff;
//   }
  
//   .sub-form-group {
//     margin-top: 1rem;
//   }
  
  .btn-group {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Adds spacing between buttons */
    margin-top: 1.5rem; /* Adds margin at the top of the button group */
}

.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

  